---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Welcome to the <strong>Explorer Blog!</strong></h1>
<h2>Choose from one of the two blog posts below:</h2>
<div class=blog-posts>
<p>Listen, I signed up for this gig thinking it would be all adventure, discovery, and maybe some cool first-contact situations. You know, make history, shake hands (or tentacles) with aliens, and become a legend. Instead, I have spent the last 36 hours trying to get a space-roomba to stop attacking my foot.
I left Earth about five years ago. At least, I think... <a href="/blog-post-one/">Click for more!</a>
</p>
<p>Yesterday, I dropped a wrench in zero gravity, and it’s now in a stable orbit around my head. Every time I move too fast, it smacks me in the face like a passive-aggressive satellite. I could grab it, but at this point, I think we have an understanding.
    Also, I attempted to... <a href="/blog-post-two/">Click for more!</a></p>
</div class=blog-posts>