---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Welcome to the <strong>Explorer Blog!</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" />
<h2>Title: </h2>
<h2>Author: </h2>
<p>Listen, I signed up for this gig thinking it would be all adventure, discovery, and maybe some cool first-contact situations. You know, make history, shake hands (or tentacles) with aliens, and become a legend. Instead, I have spent the last 36 hours trying to get a space-roomba to stop attacking my foot.
I left Earth about five years ago. At least, I think it’s been five years. Hard to say when your only company is an AI that insists on calling itself “Captain Assistance Neural Entity,” which is an incredibly smug way to spell CANE. CANE, by the way, has been relentlessly reminding me that I should be exercising more, as if I don’t already feel bad enough about eating space rations that somehow taste like cardboard and regret.
I have yet to meet any actual aliens, unless you count the thing that grew in the back of the fridge and briefly achieved sentience before I jettisoned it into space. I like to think it’s out there somewhere, floating through the void, contemplating existence. Hopefully, it’s not mad at me.
The closest I’ve come to intelligent life was when a weird beacon signal pinged my ship a month ago. I was excited! First contact! A moment for the ages! Turns out, it was an ancient automated advertisement for intergalactic car insurance. Even in the cold, lonely depths of space, you can’t escape spam calls.
</p>