  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
      <li><a href="/blog-post-one/index.html">Funny</a></li>
      <li><a href="/blog-post-two/index.html">Serious</a></li>
    </ul>
  </nav>