  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
      <li><a href="/blog-post-one/">Funny</a></li>
      <li><a href="/blog-post-two/">Serious</a></li>
    </ul>
  </nav>