body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #071E22;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 400px;
    border-radius: 50px;
    background: #CAE5FF;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #0A2247;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: #CAE5FF;
    background: linear-gradient(45deg, #CAE5FF, #450C12 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

h2{
    color: #CAE5FF;
    font-size: 4em;
}

p{
   font-size: 2em;
   background-color: #450C12; 
   margin: auto;
   padding: 30px;
   max-width: 1600px;
   border-radius: 40px;

}

.blog-posts{
    display: flex;

    margin: 50px;
    margin-top: 50px;
}



.about-image{
    border-radius: 30px;

}


.highlight{
    background-color: #450C12;
    border-radius: 30px;
    padding: 10px;
}

.flex{
    width: 600px;
}
